<div class="container-fluid px-5" style="background-color: black; color:white;" id="footer">
    <div class="row px-5 py-2">
		<div class="col-sm-4">
			<h5>Quick Links</h5>
			<a href="#" style="color:white;">Home</a><br>
			<a href="/careers" style="color:white;">Careers</a><br>
			<a href="/faqs" style="color:white;">FAQs</a><br>
			<a href="/about" style="color:white;">About Us</a><br>
			<a href="/terms" style="color:white;">Terms and Conditions</a><br>
			<a href="/privacy" style="color:white;">Privacy Policy</a><br>
		</div>
		
		<div class="col-sm-4">
			<h5><i class="comment outline icon"></i>Connect with us</h5>
			<a href="" class="ui circular facebook icon button">
			  <i class="facebook icon"></i>
			</a>
			<a href="" class="ui circular twitter icon button">
			  <i class="twitter icon"></i>
			</a>
			<a href="" class="ui circular linkedin icon button">
			  <i class="linkedin icon"></i>
			</a>
			<a href="" class="ui circular google plus icon button">
			  <i class="google plus icon"></i>
			</a><br><br>
			<p>Toll Free Number : 1800-2323-1414<br>
			Mobile Number : 9987845623<br>
			Email : gradeup@gmail.com</p>
		</div>
		
		<div class="col-sm-4">
			<h5>Subscribe to Newsletters</h5>
			<form>
			  <div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
				<small id="emailHelp" class="form-text text-muted">We never share your email with anyone else.</small>
			  </div>
 			<button type="submit" class="ui inverted yellow button">Subscribe</button>
			</form>
		</div>
		
		
	  </div>
	<footer class="container-fluid mt-5">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>&copy; 2020 Grade-Up &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
	
	</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
	
</body>
</html>