<%- include("partials/header") %>

<div class="ui raised very padded text container segment">
  <h2 class="ui header text-center">About Us</h2>
	<h3>What makes a difference?</h3>
	<p>
		Teaching process has remained the same for decades. The traditional teaching and offline education system are plagued with multiple inefficiencies. 
Our vision at Gradeup is to reimagine and evolve the way teaching and learning have been happening for decades. By combining quality teachers, engaging content and superior technology we are able to create a superior learning experience for students and aid in their outcome improvement, which is unlike any offline experience.
Teaching and learning are set to transform at a rapid pace and our mission at Gradeup is to accelerate these transformations.
	</p>
<h3>Competetive Advantage</h3>
	<p>
		There has been several E-earning sites that offer similar courses but what makes us superior is the technology we use to impart quality education to our students. We continue to provide the essence of traditional education followed at school while still being at the comfort of our house and learning at your own pace.
	</p>
</div>


<%- include("partials/foot") %>

