<%- include("partials/header") %>
<img src="https://cdn.pixabay.com/photo/2017/08/30/17/26/analytics-2697949_960_720.jpg">
<div class="container-fluid">
	<h1 class="text-center">
		 Join the education revolution
	</h1>
	<div class="text-center"><a href="#openings" type="button" class="btn btn-primary">View Open Positions</a></div>
</div>

<div class="container">
	<h1>Our Values</h1>
	<ol style="font-size:1.2rem;font-weight:bold;">
		<li>Student should the main focus</li>
		<li>Learn faster</li>
		<li>Commitment to quality education</li>
	</ol>
</div>


  <div class="container">
    <h1 class="display-5">Technologies we use</h1>
    <marquee>
	  <img src ="https://www.pngitem.com/pimgs/m/168-1680234_nodejs-logo-svg-hd-png-download.png" style="width: 10%; padding:15px;">
		 <img src ="https://miro.medium.com/proxy/1*uPL1uCtLBRSk6akPL2hNzg.jpeg" style="width: 20%;padding:15px;">
		
		<img src ="https://i.pcmag.com/imagery/reviews/02Q6yxveinggAu3PomearaV-7.fit_scale.size_1028x578.v_1569481734.jpg" style="width: 20%;padding:15px;">
			
	  </marquee>
  </div>

</div>

<div class="container">
	<h1>Work Culture and Perks</h1>
	<ul>
	<li>
	<h3>Communicate</h3>Communication serves the key to success. We're after all a by-product of the mobile revolution!</li>
	<li><h3>Flexible Office Timings</h3>
The team collectively decides what works for them.An atmosphere of independence in decision-making.</li>
		</ul>
</div>


<h1 style="text-align:center;">Open Positions</h1>
<div class="container" id="openings">
	<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Subject Matter Expert
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
      <b>Responsibilities:</b><br>
We are looking for an enthusiastic candidate who has subject (Mathematics) knowledge and wanted to share the knowledge with the trillions of students.
<br>
<b>JOB DESCRIPTION:</b>
<br>
A small idea of the work is to create a video solution of 2 to 3 minutes for the questions that will be provided to you.<br>
1. Facilitate deeper knowledge base creation of subjects.<br>
2. Develop content that helps build interest of students.<br>
3. Make learning simple and effective for students.<br>
4. Innovation and creativity in designing nature of material needed by target segment.<br>
5. Use engaging methods and design effective lesson progression, which make students strong in conceptual understanding & problem solving.<br>
6. Authoring solutions for advanced questions from different author books.<br>
7. Understanding & implementing best answers related to his area of expertise.<br>
8. Projecting the solution in multiple ways which can be easily caught by students.<br>
9. Be part of education transformation in India.<br>
Apply here careers@gradeup.com
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           Academic Mentors
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
<b>Responsibilities:</b><br>
<ul> 
<li>Subject expert with proven academic track record.</li>
<li>A person who loves interacting with students and dircting them.</li>
<li>A person who can think at the level of the student.</li>
<li>Self-driven and highly energetic.</li>
<li>Comfortable with multitasking Profile Summary.</li>
<li>Open minded, communicative, a good team player.</li>
</ul>
<b>Apply If You Have:</b>
<ul>
<li>Engineering Graduates with very strong subject knowledge & high aptitude skills.</li>
<li>Teaching experience is desirable but not mandatory.</li>
<li>The master teacher has to sync up with their respective secondary teachers on a regular basis and get updates on student performance.</li>
<li>He/She would also be responsible to work and improvise on the existing content (Wavebook slides, tests, assignments) wherever required.</li>
</ul>
Apply here careers@gradeup.com
      </div>
    </div>
  </div>
		
		
 <div class="jumbotron">
  <div class="container">
    <h1>Can’t find the profile you’re looking for?</h1>
    <p class="lead">Drop us a mail at careers@gradeup.com</p>
  </div>
</div>
		
		
		

<%- include("partials/foot") %>
