<%- include("./partials/header") %>
<div class="ui main text container segment" style="width:400px;">
<div class="row">
	<div class="col-md-12">
		<form action="/forgotpassword" method="POST">
			<legend>Forgot Password</legend>
			<div class="form-group">
				<label for="email">Username/Email Address</label>
				<input type="email" name="email" autofocus class="form-control">
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Reset Password">
			</div>
		</form>
	</div>
</div>
</div>
<%- include ("./partials/foot") %>