<%- include("partials/header") %>

<div class="jumbotron jumbotron-fluid" id="offerjumbo">
  <div class="container">
    <h1 class="display-4" style="color:white">Learning Extravaganza</h1>
    <p class="lead" style="color:yellow">Experience fully customized learning with us.</p>
	  <p style="color:white">Grab Exclusive Deals</p>
  </div>
</div>

<div class="ui inverted main container segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
		<a class="ui red ribbon label">Offer valid till 31st July 2020</a>
      <img class="img-fluid" src="https://images.unsplash.com/photo-1584503061538-fdf4a93c6fb9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
    </div>
    <div class="column">
		<h1 style="color:#F71E32">Mighty Software Development Bundle</h1>
		<p style="color:#F71E32; text-align:justify"><em>22 Exclusive Courses</em></p>
		<p style="color:#F71E32; text-align:justify">Instructors: 
			<li>Itzan Paula</li><li>Ester Dichone</li><li>Steve Harrington</li><li> Carla Marchioness</li><li> Lucrecia Adams</li><li>Abhilash Roy</li><li>Prakash Arun Mathur</li></p>
		<p>
			<button class="ui inverted huge negative basic button" style="display:inline">200+ hours</button>
			<button class="ui inverted huge negative basic button" style="display:inline">1500 live lectures</button>
		</p>
		<a class="ui inverted pointing red big label"><i class="rupee sign icon"></i>14999</a>
		<a href="/courses/5efcc172d45a5a0862765632" class="ui red huge basic button">Start Now</a>
		
    </div>
  </div>
</div>



<div class="ui inverted main container segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <img class="img-fluid" src="https://image.freepik.com/free-photo/web-design-concepts-with-blurred-background_1134-82.jpg">
    </div>
    <div class="column">
      <h1 style="color:#A7FF5E ">Mighty Web Development Bundle</h1>
		<p style="color:#A7FF5E ; text-align:justify"><em>18 Exclusive Courses</em></p>
		<p style="color:#A7FF5E ; text-align:justify">Instructors: 
			<li>Itzan Paula</li><li>Ester Dichone</li><li>Steve Harrington</li><li> Carla Marchioness</li><li> Lucrecia adams</li><li>Abhilash Roy</li><li>Prakash Arun Mathur</li></p>
		<p>
			<button class="ui inverted huge positive basic button" style="display:inline">190+ hours</button>
			<button class="ui inverted huge positive basic button" style="display:inline">1200 live lectures</button>
		</p>
		<a class="ui inverted pointing green big label"><i class="rupee sign icon"></i>9999</a>
		<a href="/courses/5ee8be14536f8d102e8c78ce" class="ui green huge basic button">Start Now</a>
    </div>
  </div>
</div>



<div class="ui inverted main container segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
		<a class="ui red ribbon label">Limited Period</a>
      <img class="img-fluid" src="https://image.freepik.com/free-photo/dark-servers-center-room-with-computers-storage-systems_117023-894.jpg">
    </div>
    <div class="column">
       <h1 style="color:#EA93FF  ">Mighty Cloud Computing Bundle</h1>
		<p style="color:#EA93FF  ; text-align:justify"><em>15 Exclusive Courses</em></p>
		<p style="color:#EA93FF  ; text-align:justify">Instructors: 
			<li>Itzan Paula</li><li>Ester Dichone</li><li>Steve Harrington</li><li> Carla Marchioness</li><li> Lucrecia adams</li><li>Abhilash Roy</li><li>Prakash Arun Mathur</li></p>
		<p>
			<button class="ui huge purple basic button" style="display:inline">100+ hours</button>
			<button class="ui huge purple basic button" style="display:inline">1100 live lectures</button>
		</p>
		<a class="ui inverted pointing purple big label"><i class="rupee sign icon"></i>9999</a>
		<a href="/courses/5ee8c169536f8d102e8c78d0" class="ui purple huge basic button">Start Now</a>
    
    </div>
  </div>
</div>



<div class="ui inverted main container segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <img class="img-fluid" src="https://image.freepik.com/free-vector/blue-webinar-background_23-2147763163.jpg">
    </div>
    <div class="column">
		<a class="ui teal right ribbon label">Join Us</a>
      	<h1 style="color:teal;">Important Webinar Announcement</h1>
        <p style="color:teal; text-align:justify">The webinar will introduce bioinformatics approaches, tools, and pipelines for computational analyses of NGS data. We will also discuss how including a bioinformatician in the early planning stage of NGS experiments can (1) ensure the desired degree of statistical robustness and (2) extend the useful lifespan of NGS data by considering how researchers may return to the same datasets to answer new questions.</p>
		 <p style="color:teal; text-align:justify">Strategies, methods, and workflows used for analyses of NGS data will also be covered, including mapping to reference genomes, feature extraction, and statistical analysis. In addition, the biological interpretation of output from such analyses will be presented as case studies.</p>
      <p style="color:teal; text-align:justify">During this webinar, the audience will:
Learn about the bioinformatics approaches used for the variety of tasks involved in NGS
Gain a better understanding of the pipelines used to analyze NGS data
Acquire new tools for more robust design of NGS experiments
Have the opportunity to ask questions during the live broadcast.
This webinar will last for approximately <em>60 minutes.</em></p>
     <button class="ui teal huge basic button">Book a seat</button>
    </div>
  </div>
</div>


<%- include("partials/foot") %>